<h1>Welcome bitch</h1>
<%= link_to "Create New Admin", controller: "users", action: "new" %>
<br>
<% if logged_in_admin? %>    
<h1>You are Logged In, <%= admin_user.username %></h1>
<%else%> 
<%= link_to "Login", controller: "sessions", action: "create" %>
<%end%>


