<div class="container"> 
<% @blogs.each do |blog|%>
    <%= link_to  blog_path(blog.id) do %> 
    <div class="col-3"> 
      <h3> <%= blog.title %>  </h3>
      <img src=<%=url_for(blog.main_photo) %>>
    </div>
    <% end %>
<% end %>
</div>