  <div class="row "> 
  <% @blogs.each do |blog|%>
      <div class="col-lg-4 col-md-6 col-sm-12 my-4"> 
    <%= link_to  blog_path(blog.id) do %> 
        <div class="card text-white thumb-post">
          <% if blog.main_photo.attached? %>
            <img class="card-img  mb-0" src="<%=url_for(blog.main_photo)%>" alt="blog image">
          <%end%>
          <div class="card-body bg-dark m-0 ">
            <h5 class="card-text text-center text-light"><%= blog.title %></h5>
            <h6 class="card-text text-center text-light"><%= blog.created_at.to_date %></h5>
          </div>
        </div>
    <% end %>
      </div>

  <%end%>
</div>