


    <div class="container">
    <%= link_to "add gallery post", new_gallery_post_path() %>

        <div class="col-12">

            <% @GalleryPosts.each do |gp|%>
                    <span style="<%= getCssString(gp)%> "> </span>
                    <%= link_to "edit post", edit_gallery_post_path(gp.id) %>

            <% end %>

         </div>
     </div>

<%# render each image order by sequence float by property  %>
