<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- IN CONTAINER FLUID -->

<div class="row home_image mb-5">

</div>
<div class="row mb-5">
    <h3>
        My Personal Exploration into the Layers of <strong> Philosophy & Design </strong> Found Within the Culinary World
    </h3>
</div>
<div class="row mb-10">
    <div class="col-md-3 col-sm-12 m-3"></div>
    <div class="col-md-3 col-sm-12 m-3"></div>
    <div class="col-md-3 col-sm-12 m-3"></div>
</div>
<div class="row mb-5">
    <h4 class="mx-auto mb-2">
       <strong> Something smells a bit fishy? </strong>
    </h4>
    <h6 class="mx-auto">
        Not to worry, this is not a pretentious analysis of culinary skills that will lead to a prescriptive definition of how to flaunce around your kitchen with a sense of pompus empowerment. I write this blog simply to question mundane elements of the kitchen that may otherwise be overlooked.
    </h6>
</div>