<!-- IN CONTAINER FLUID -->
<div class="row my-5">
    <div class="col-md-8 col-sm-12 mx-auto">

        <h2 class="text-center">
            My Personal Exploration into the Layers of <strong> Philosophy & Design </strong> Found Within the Culinary World
        </h2>

        <h3 class="text-center mt-5">
         “People who love to eat are always the best people.” - Julia Child 
        </h3>
    </div>
</div>
<div class="container "> 
    <div class="row mb-10 px-5 ">
            <div class="col-md-4 col-sm-10 mx-auto my-1">
                <%= image_tag "chilli.jpg", :class => "image-fluid w-100" %>
            </div>
            <div class="col-md-4 col-sm-10 mx-auto my-1">
                <%= image_tag "picle.jpg", :class => "image-fluid w-100" %>
            </div>
            <div class="col-md-4 col-sm-10 mx-auto my-1">
                <%= image_tag "lemon.jpg", :class => "image-fluid w-100" %>
            </div>
    </div>
</div>
<div class="w-100 my-5 text-center">
    <div class="col-md-6 col-sm-12 mx-auto"> 
        <h3 class="mx-auto my-5">
        <strong> Something smells a bit fishy? </strong>
        </h3>
        <h5 class="mx-auto ">
            Not to worry, this is not a pretentious analysis of culinary skills that will lead to a prescriptive definition of how to flaunce around your kitchen with a sense of pompus empowerment. I write this blog simply to question mundane elements of the kitchen that may otherwise be overlooked.
        </h6>
    </div>
</div>