<div class="row">
    <div class="col-10">
        <h6 >
        Growing up in a household where the kitchen was, and still is, the central focus point of the building, not
    only architecturally, but socially and mentally as well, my passion for food and cooking is profound.
    From the age of around 8 my mother drip fed me culinary skills, whilst I stood on one of the chairs from
    the kitchen table peering over the Lachance range. As I got older physical changes gave me the ability to
    be more competent in the kitchen, and as I slowly developed my skills, so did my appreciation for food,
    not only for taste or presentation, but for the emotionally gravitas food can embody. </h6>

        <p>Now, as a young man living away from home, I have the freedom to purchase my own ingredients and
    cook whatever I please for myself or other people. however, this blog is not simply about food. as a
    design student at Goldsmiths University, I have a secondary perspective on culinary activity. Through the
    lens of a designer I see equipment, facilities, supermarkets etc. in an analytical manner. If I pick up a
    knife and it does not feel nice to grip, the weight is unbalanced, or the blade is not sharp I will make a
    mental note to myself explaining how it could be improved. this is from the perspective of practicality. if
    i pick up a knife and it does not look like it should be in a kitchen, or it looks dull and mundane, I will also
    make a not to myself about its lack of aesthetically pleasing qualities. this is from the perspective of
    appearance. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-7"> 
        <h3>
            In short, this is a space for design and reflection
        </h3>
    </div>
    <div class="col-md-4"> 
        <p class="text-center float-left">
            when cooking or enjoying food you can find both elements throughout the entire process. this page is
            an organisation and collection of my personal experiences involving culinary objects using design and
            reflection as divisive tools
        </p>
    </div>
 </div>